.featureForm {
    width: 100%;
    height: auto;
    border: 2px solid;
    color: #ffffff;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

.h1 {
    margin-top: 4%;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

.icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
}

.icon_wrapper img {
    width: 100%;
    height: 100px;
}

.icon {
    display: block;
    fill: #ffffff;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.email {
    float: right;
    width: 45%;
}

input[type='text'],
[type='email'],
[type='link'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
[type='link']:focus,
textarea:focus {
    background: transparent;
    outline: none;
    padding: 0 0 0.875em 0;
}

.email {
    text-transform: lowercase;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select>option {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #000000;
}

select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

:-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ffffff;
}

#form_button {
    background: none;
    border: solid 2px #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
        height: 100%;
    }
    .message,
    .name,
    .email,
    .telephone {
        width: 100%;
        display: block;
    }
    input[type='link']::placeholder {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }
    .underline {
        width: 68px;
    }
    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }
    .icon {
        height: 35px;
        width: 35px;
    }
    .underline {
        width: 53px;
    }
    input[type='text'],
    [type='email'],
    [type='link'],
    select,
    textarea {
        font-size: 0.875em;
    }
}